.App {
  text-align: center;
}

.App-logo {
 justify-content: middle;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: transparent;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.li {
  color: grey;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.imgPreview{
  text-align: center;
  margin: 10px 25px;
  height: 400px;
  width: 600px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}